.banner {
	background-image: url("../../images/banner.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	padding: 150px 0px;
	margin-bottom: 40px;
}

.banner h1 {
	font-size: 80px;
	font-weight: 900px;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}